/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(8, 59, 76);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 40px 60px;
}

header > h1 {
    font-size: 40px;
    color: rgb(8, 59, 76);
}

/* bottoni */
.buttons {
    width: 150px;
    height: 50px;
    font-size: 20px;
    text-align: center;
}

/* MAIN */
#score {
    color: #fff;
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
}

/* container */
#container {
    max-width: 720px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* box */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(8, 59, 76);
    background-color: #fff;
    cursor: pointer;
}

/* difficoltà */
.easy {
    width: 10%;
    height: 60px;
}
.medium {
    width: 11%;
    height: 80px;
}
.hard {
    width: 14%;
    height: 100px;
}

/* stato box */
.clicked {
    background-color: rgb(19, 137, 178);
}
.bomb {
    background-color: red;
}

/* layover */
.layover {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.active {
    display: block;
}